<apex:page standardController="Lead" extensions="ColorFinder">
<svg width="100" height="100">
  <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="{!circleString}" />
</svg>
</apex:page>